<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listado proveedores</title>
</head>
<body>

<h1>Proveedores</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>RUT</th>
				<th>Razon Social</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="proveedor : ${proveedores}">
				<td data-th-text="${proveedor.id}"></td>
				<td data-th-text="${proveedor.rut}"></td>
				<td data-th-text="${proveedor.razonSocial}"></td>
				<td>
					<a data-th-href="@{/proveedor/editar/{id}(id=${proveedor.id})}">Editar</a>
					<a data-th-href="@{/proveedor/eliminar/{id}(id=${proveedor.id})}">Eliminar</a>
				</td>
			</tr>
		</tbody>
	</table>

















</body>
</html>